<div class="app">
  <div class="some">
    <h1>App Component - {{ 'TITLE.APP' | translate }}</h1>

    <h2>Current language - {{ currentLanguage }}</h2>

    <h3>Count of renders App - {{ render() }}</h3>

    <button (click)="change()">Change language</button>

    <app-test></app-test>
  </div>
  <div class="some">
    <a routerLink="/some" routerLinkActive="active">some</a>
    <router-outlet></router-outlet>
  </div>
  <div class="some">
    <app-more></app-more>
  </div>
  <div class="some">
    <h1>Some Place for Dynamic components</h1>
    <button (click)="toggleComponent()">Add component</button>
    <ng-container dynamic></ng-container>
  </div>
</div>
